html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
    color:pink;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    color:#ff9999;
    background-color:pink;
    display:flex;
    justify-content:center;
    font-size:40px;
    font-style:oblique;
}
.navbar{
    display:flex;
    justify-content:space-around;
    background-color:#ff9999;
}